/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  --primary-light: #8bb9ff;
  --primary-medium: #458fff;
  --primary-dark: #234c8b;
  --secondary-light: #baebba;
  --secondary-medium: #8ddd8d;
  --secondary-dark: #538a53;
  --tertiary-light: #8fdaea;
  --tertiary-medium: #69b6c6;
  --tertiary-dark: #206463;
  --white: #fff;
  --gray: #9a9a9a;
  --black: #2d2d2d;
  --font-body: "Lato", sans-serif;
  --font-title: "Futura", sans-serif;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: var(--font-body);
}

a {
  color: var(--primary-medium);
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: var(--secondary-medium);
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4 {
  font-family: var(--font-title);
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: var(--primary-medium);
  color: var(--white);
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: var(--white);
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

/* Prelaoder */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: var(--white);
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid var(--primary-medium);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  padding: 0 0 10px 0;
  font-size: 14px;
  transition: all 0.5s;
}

@media (max-width: 991px) {
  #topbar {
    display: none;
  }
}

#topbar .social-links {
  text-align: right;
}

#topbar .social-links a {
  color: var(--secondary-dark);
  padding: 4px 12px;
  display: inline-block;
  line-height: 1px;
}

#topbar .social-links a:hover {
  color: var(--primary-medium);
}

#topbar .social-links a:first-child {
  border-left: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 110px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header.header-scrolled, #header.header-inner-pages {
  height: 70px;
  padding: 15px 0;
  background-color: var(--white);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

#header.header-scrolled #topbar, #header.header-inner-pages #topbar {
  display: none;
}

@media (max-width: 991px) {
  #header {
    height: 70px;
    padding: 15px 0;
  }
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: var(--primary-dark);
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 3px 0;
  max-height: 35px;
}

.main-pages {
  margin-top: 60px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.main-nav {
  /* Drop Down */
  /* Deep Drop Down */
}

.main-nav, .main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.main-nav a {
  display: block;
  position: relative;
  color: var(--primary-dark);
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: var(--font-body);
  text-transform: uppercase;
  font-weight: 600;
}

.main-nav a:hover, .main-nav .active > a, .main-nav li:hover > a {
  color: var(--primary-medium);
  text-decoration: none;
}

.main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: var(--white);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.main-nav .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.main-nav .drop-down li {
  min-width: 180px;
  position: relative;
}

.main-nav .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #065e77;
}

.main-nav .drop-down ul a:hover, .main-nav .drop-down ul .active > a, .main-nav .drop-down ul li:hover > a {
  color: var(--primary-medium);
}

.main-nav .drop-down > a:after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.main-nav .drop-down .drop-down > a {
  padding-right: 35px;
}

.main-nav .drop-down .drop-down > a:after {
  content: "\f105";
  position: absolute;
  right: 15px;
}

/* Mobile Navigation */
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: var(--white);
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: var(--primary-medium);
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\f077";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  margin: 18px 18px 0 0;
  color: #065e77;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: var(--primary-dark);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: var(--black);
}

/*--------------------------------------------------------------
# Landing Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

@media (max-width: 1065px) {
  #hero {
    height: auto;
    /* padding: 80px 0 60px 0; */
    text-align: center;
  }
  #hero .container {
    height: auto !important;
  }
  #hero .intro-img {
    /* padding-top: 20%; */
    width: 80%;
  }
}

@media (min-width: 1065px) {
  #hero {
    background: #f5f8fd url("../img/home/landing.png") center top no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1065px) {
  #hero .intro-info {
    padding-top: 80px;
  }
}

@media (max-width: 1065px) {
  #hero .intro-info {
    /* text-align: center; */
    padding-top: 50%;
    /* margin-left: 50%; */
  }
}

#hero .intro-info h2 {
  color: var(--primary-dark);
  margin-top: 10%;
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 700;
}

#hero .intro-info h2 span {
  color: var(--primary-medium);
}

.intro-info h3{
  color: var(--primary-medium);
}

@media (max-width: 1065px) {
  #hero .intro-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }
}

#hero .intro-info .btn-get-started, #hero .intro-info .btn-services {
  margin-top: 5px;
  font-family: var(--font-title);
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  transition: 0.5s;
  color: var(--white);
  background: var(--secondary-medium);
  color: var(--white);
}

#hero .intro-info .btn-get-started:hover, #hero .intro-info .btn-services:hover {
  background: var(--secondary-dark);
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
.section-header h3 {
  font-size: 32px;
  color: var(--primary-dark);
  text-align: center;
  font-weight: 700;
  position: relative;
  font-family: var(--font-title);
  padding-bottom: 20px;
}

.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: var(--secondary-dark);
  width: 50%;
}

.section-header h4 {
  color: var(--secondary-dark);
  text-align: center;
  padding-bottom: 40px;
}

@media (max-width: 767px) {
  .section-header p {
    width: 100%;
  }
}

/* Section with background
--------------------------------*/
.section-bg {
  background: #f5f8fd;
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/

/* Presidents Welcome Section
--------------------------------*/
#presidents-welcome {
  padding: 80px 0;
}

#presidents-welcome .president-content h3 {
  color: var(--primary-dark);
  font-family: var(--font-title);
  font-weight: 700;
  padding-top: 30px;
}

#presidents-welcome .president-img {
  position: relative;
  margin: 50px 30px 30px 30px;
}

#presidents-welcome .president-img img {
  width: 100%;
  border: 8px solid var(--white);
  transition: .5s;
}

#presidents-welcome .president-img img:hover {
  width: 100%;
  transform: scale(1.03);
}

#presidents-welcome .president-img::before {
  position: absolute;
  left: -31px;
  top: -30px;
  width: 90%;
  height: 92%;
  z-index: -1;
  content: '';
  background-color: #ebf1fa;
  transition: .5s;
}

#presidents-welcome .president-img::after {
  position: absolute;
  right: -31px;
  bottom: -30px;
  width: 90%;
  height: 92%;
  z-index: -1;
  content: '';
  background-color: #ebf1fa;
  transition: .5s;
}

/* Blurb/History Section
--------------------------------*/
#history {
  padding: 40px 0;
}

#history .history-content h2 {
  color: var(--primary-dark);
  font-family: var(--font-title);
  font-weight: 700;
  text-align: center;
}

#history .history-img img {
  width: 100%;
  border: 8px solid var(--white);
  transition: .5s;
  margin-top: 10px;
}

#history .history-img img:hover {
  width: 100%;
  transform: scale(1.03);
}

/* Members Testimonials Section
--------------------------------*/
#testimonials {
  padding: 60px 0;
  background-color: var(--white);
}

@media (max-width: 767px) {
  #testimonials .testimonial-item {
    text-align: center;
  }
}

#testimonials .testimonial-item .testimonial-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid var(--white);
  float: left;
}

@media (max-width: 767px) {
  #testimonials .testimonial-item .testimonial-img {
    float: none;
    margin: auto;
  }
}

#testimonials .testimonial-item h3 {
  font-size: 20px;
  margin: 10px 0 5px 0;
  color: #111;
  margin-left: 140px;
}

#testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
  margin-left: 140px;
}

#testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 0 15px 140px;
}

@media (min-width: 992px) {
  #testimonials .testimonial-item p {
    width: 80%;
  }
}

@media (max-width: 767px) {
  #testimonials .testimonial-item h3, #testimonials .testimonial-item h4, #testimonials .testimonial-item p {
    margin-left: 0;
  }
}

#testimonials .owl-nav, #testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#testimonials .owl-dot.active {
  background-color: var(--primary-medium);
}

/* PASTA Values Section
--------------------------------*/
#values {
  padding: 60px 0 40px 0;
}

#values .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: var(--white);
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
}

#values .box:hover {
  transform: scale(1.1);
}

#values .icon {
  margin: 0 auto 15px auto;
  padding-top: 12px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#values .icon i {
  font-size: 36px;
  line-height: 1;
}

#values .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#values .title a {
  color: #111;
}

#values .description {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: center;
}


/*--------------------------------------------------------------
# Rush
--------------------------------------------------------------*/
/* Apply Section
--------------------------------*/
#apply {
  padding: 120px 0;
}

#apply .apply-content h3 {
  color: var(--primary-dark);
  font-family: var(--font-title);
  font-weight: 700;
  padding-top: 30px;
}

.apply-content h4{
  font-size: 20px;
  font-family: var(--font-body);
  font-weight: 800;
}

#apply .row{
  padding-bottom: 50px;
}

#apply p {
  text-align: center;
}

#apply h4 {
  text-align: center;
  padding: 20px;
}

.video-container {
  position: relative;
  padding-bottom: 40%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}


.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Frequently Asked Questions Section
--------------------------------*/
#faq {
  padding: 60px 0;
  overflow: hidden;
}

#faq #faq-list {
  padding: 0;
  list-style: none;
}

#faq #faq-list li {
  border-bottom: 1px solid #ebebeb;
}

#faq #faq-list a {
  padding: 22px 0;
  display: block;
  position: relative;
  font-family: var(--font-body);
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

.faq-list a:hover, a:active, a:focus {
  color: var(--primary-medium);
}

#faq #faq-list i {
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 20px;
}

#faq #faq-list p {
  margin-bottom: 20px;
  font-size: 18px;
  font-family: var(--font-body);
}

#faq #faq-list a.collapsed {
  color: #000;
  font-family: var(--font-body);
}

#faq #faq-list a.collapsed i::before {
  content: "\f2c7" !important;
}

/*--------------------------------------------------------------
# Members
--------------------------------------------------------------*/

/* EBoard Section
--------------------------------*/
#eboard {
  padding-top: 80px;
}

#eboard .memberContainer {
  width: auto;
}

#eboard h3 {
  color: var(--primary-dark);
  font-family: var(--font-title);
  font-weight: 700;
  padding-top: 30px;
}

#eboard h1 {
  color: var(--primary-dark);
  font-family: var(--font-title);
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

#eboard h4 {
  color: #696592;
  font-family: var(--font-body);
  font-weight: bold;
  padding-top: 5px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 0px;
}

#eboard p {
  font-family: var(--font-body);
  text-align: center;
  font-size: 16px;
}

#eboard .eboard-img figure{
  position: relative;
}

#eboard .member-img {
  position: relative;
}

#eboard .eboard-item{
  width: 20%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
/*  padding-bottom: 0.5rem;*/
}

#eboard .eboard-img figure img {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

#eboard .eboard-img figure figcaption {
  text-align: center;

}

#eboard .pic-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: .3s ease;
  background-color: var(--primary-dark);
}

#eboard .eboard-item:hover .pic-overlay {
  opacity: 0.8;
}

#eboard .icon {
  color: white;
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#eboard .text {
  font-family: var(--font-title);
  color: white;
  font-size: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#eboard .button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#eboard .fa-external-link {
  color: white;
}

#eboard .fa-external-link:hover {
  color: var(--gray);
}

#eboard .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
#eboard .overlay:target {
  visibility: visible;
  opacity: 1;
}

#eboard .popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  top: 20%;
}

#eboard .popup h1 {
  color: var(--primary-dark);
  font-family: var(--font-body);
  font-size: 28px;
  padding-bottom: 0;
  padding-top: 10px;
}

#eboard .popup h2 {
  color: var(--tertiary-dark);
  font-family: var(--font-body);
  font-size: 22px;
  text-align: center;
  margin-top: 0px;
}

#eboard .popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

#eboard .popup .close:hover {
  color: var(--primary-medium);
}
#eboard .popup .content {
  max-height: 30%;
  overflow: auto;
  text-align: center;
  padding-bottom: 10px;
}

#eboard @media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}



/* Actives Section
--------------------------------*/
#actives {
  padding: 40px 0;
}

#actives .memContainer {
  width: auto;
}

#actives .active-img figure{
  position: relative;
}

#actives .member-img {
  position: relative;
}

#actives .active-item{
  width: 20%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#actives .active-img figure img {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

#actives .active-img figure figcaption {
  text-align: center;
}

#actives .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: .3s ease;
  background-color: var(--primary-dark);
}


#actives .active-item:hover .overlay {
  opacity: 0.8;
}

#actives ion-icon {
  color: white;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -30%);
  -ms-transform: translate(-50%, -30%);
  text-align: center;
  font-size: 2.5vw;
}

#actives .text {
  font-family: var(--font-body);
  color: white;
  font-size: 1.2vw;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-width: 800px){
  #actives .text{
    font-size: 12px;
  }
  #actives ion-icon {
    font-size: 24px;
  }
}
/* Alumni Section
--------------------------------*/
#alumni {
  padding: 0px 0;
}

#alumni h3 {
  color: var(--primary-dark);
  font-family: var(--font-title);
  font-weight: 700;
  padding-top: 30px;
}

#intro-alumni h1{
  color: var(--primary-dark);
  font-family: var(--font-title);
  font-weight: 700;
  margin-left: 0px;
  padding-top: 25px;
}

#alumni h1 {
  color: var(--primary-dark);
  font-family: var(--font-title);
  font-weight: 700;
  margin-left: 0px;
  padding-top: 25px;
}

#alumni h2 {
  color: var(--primary-dark);
  font-family: var(--font-title);
  font-weight: 700;
  margin-left: 235px;
}

#actives h2 {
  color: var(--primary-dark);
  font-family: var(--font-title);
  font-weight: 700;
  padding-top: 30px;
}

#alumni ul {
  text-align: left;
  list-style-type: none;
}


/* Where We Are Section
--------------------------------*/
#clients {
  padding: 40px 0;
}

#clients h1 {
  color: var(--primary-dark);
  font-family: var(--font-title);
  font-weight: 700;
  margin-left: 0px;
  padding-top: 25px;
}

#clients img {
  max-width: 80%;
  opacity: 0.8;
  transition: 0.3s;
  padding: 15px 0;
}

#clients img:hover {
  opacity: 1;
}

#clients .owl-nav, #clients .owl-dots {
  margin-top: 5px;
  text-align: center;
}
#clients .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#clients .owl-dot.active {
  background-color: var(--primary-medium);
}


/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
#contact-us {
  padding: 100px 0;
}

#contact-us h4 {
  font-weight: 600;
  font-size: 24px;
}

#contact-us h2 {
  color: var(--primary-dark);
  font-family: var(--font-title);
  font-weight: 700;
  padding-top: 30px;
}

#mailing-list {
  background: var(--primary-dark);
  background-size: cover;
  padding: 40px 0;
}

#mailing-list .cta-title {
  color: var(--white);
  font-size: 28px;
  font-weight: 700;
}

#mailing-list .cta-text {
  color: var(--white);
}

@media (min-width: 991px) {
  #mailing-list .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

#mailing-list .cta-btn {
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 26px;
  border-radius: 3px;
  transition: 0.5s;
  margin: 10px;
  border: 3px solid var(--white);
  color: var(--white);
}

#mailing-list .cta-btn:hover {
  background: var(--primary-medium);
  border: 3px solid var(--primary-medium);
}


/*--------------------------------------------------------------
# Random Sections on Home Page
--------------------------------------------------------------*/

/* Call To Action Section
--------------------------------*/


/* Team Section
--------------------------------*/
#team {
  padding: 60px 0;
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

#team .member .member-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
  padding: 15px 0;
  background: rgba(29, 28, 41, 0.6);
}

#team .member .member-info-content {
  transition: margin 0.2s;
  height: 40px;
  transition: height 0.4s;
}

#team .member:hover .member-info {
  transition: 0.4s;
}

#team .member:hover .member-info-content {
  height: 80px;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: var(--white);
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: var(--white);
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  transition: none;
  color: var(--white);
}

#team .member .social a:hover {
  color: var(--primary-medium);
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f9f9fb;
  min-height: 40px;
  margin-top: 70px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 63px;
  }
}

.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 10px;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: var(--secondary-dark);
  content: "/";
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: var(--white);
  padding: 0 0 30px 0;
  font-size: 14px;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #f5f8fd;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: var(--font-title);
  color: var(--primary-dark);
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#footer .footer-top .footer-info p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: var(--font-title);
  color: var(--secondary-dark);
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: var(--primary-medium);
  color: var(--white);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}


#footer .footer-top .social-links a:hover {
  background: var(--secondary-medium);
  color: var(--white);
}

@media (max-width: 574px) {
  #footer .footer-top .social-links a {
    margin-bottom: 25px;
  }
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: var(--primary-dark);
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #696592;
}

#footer .footer-top .footer-links ul a:hover {
  color: var(--primary-medium);
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
  border: 1px solid #d9dde6;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: var(--primary-medium);
  border: 1px solid var(--primary-medium);
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: var(--white);
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: var(--secondary-medium);
}

#footer .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

#footer .php-email-form .error-message {
  display: none;
  color: var(--white);
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#footer .php-email-form .sent-message {
  display: none;
  color: var(--white);
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#footer .php-email-form .loading {
  display: none;
  background: var(--white);
  text-align: center;
  padding: 15px;
}

#footer .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

#footer .php-email-form input, #footer .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #dce1ec;
  font-size: 14px;
}

#footer .php-email-form input::focus, #footer .php-email-form textarea::focus {
  background-color: var(--primary-medium);
}

#footer .php-email-form input {
  padding: 20px 15px;
}

#footer .php-email-form textarea {
  padding: 12px 15px;
}

#footer .php-email-form button[type="submit"] {
  background: var(--primary-medium);
  border: 0;
  border-radius: 3px;
  padding: 8px 30px;
  color: var(--white);
  transition: 0.3s;
}

#footer .php-email-form button[type="submit"]:hover {
  background: var(--secondary-medium);
  cursor: pointer;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: var(--primary-dark);
  font-size: 15px;
  font-family: var(--font-body);
}

#footer .social-media{
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

#footer .social-media a {
  padding-right: 10px;
}

#footer.social-media.fa{
  margin: 20px 20px;
}

#footer .credits {
  text-align: center;
  font-size: 14px;
  padding-top: 4px;
  color: #8582a8;
}

#footer .credits a {
  color: var(--primary-dark);
}

#footer .credits a:hover {
  color: var(--secondary-medium);
}
